.profile {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;

    .my-servers {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(144deg, #40ffe6, #5B42F3 50%, #00DDEB);
        background-size: 200%;
        background-position: 0%;
        cursor: pointer;
        border-radius: 10px;
        transition: background-position 0.3s ease;
        width: 300px;
        padding: 10px;
        margin-bottom: 10px;

        &:hover {
            background-position: 100%;
        }
    }

    h3 {
        font-size: 32px;
    }

    .account-settings {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 80vw;

        .username {
            display: flex;
            flex-direction: column;
            gap: 10px;
            box-shadow: rgba(255, 255, 255, 0.74) 0px 1px 4px;
            padding: 20px;
            width: 400px;
            color: rgba(255, 255, 255, 0.74);
            border-radius: 5px;
            height: 170px;

            input {
                padding: 8px;
                background-color: transparent;
                border: 1px solid rgba(255, 255, 255, 0.74);
                color: rgba(255, 255, 255, 0.74);
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(255, 255, 255, 0.74);
                color: rgba(255, 255, 255, 0.74);
                background-color: transparent;
                padding: 8px;
                cursor: pointer;
                transition: 0.3s ease;

                &:hover {
                    color: #a4c4ff;
                    border: 1px solid #a4c4ff;
                }

            }
        }

        .language {
            display: flex;
            flex-direction: column;
            gap: 10px;
            box-shadow: rgba(255, 255, 255, 0.74) 0px 1px 4px;
            padding: 20px;
            width: 400px;
            color: rgba(255, 255, 255, 0.74);
            border-radius: 5px;
            height: 170px;

            select {
                background-color: transparent;
                color: rgba(255, 255, 255, 0.74);
                padding: 8px;
                border: 1px solid rgba(255, 255, 255, 0.74);

                option {
                    color: black;
                }
            }

            a {
                align-self: center;
                transition: 0.3s ease;
                margin-top: 20px;

                &:hover {
                    color: #a4c4ff;
                }
            }

        }

        .delete-account {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            box-shadow: rgba(255, 255, 255, 0.74) 0px 1px 4px;
            padding: 20px;
            width: 400px;
            color: rgba(255, 255, 255, 0.74);
            border-radius: 5px;
            height: 170px;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(255, 255, 255, 0.74);
                color: rgba(255, 255, 255, 0.74);
                background-color: transparent;
                padding: 8px;
                cursor: pointer;
                transition: 0.3s ease;
                width: 220px;

                &:hover {
                    color: #ffa4a4;
                    border: 1px solid #ffa4a4;
                }

            }
        }

        .email-natifications {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: rgba(255, 255, 255, 0.74) 0px 1px 4px;
            padding: 20px;
            width: 400px;
            color: rgba(255, 255, 255, 0.74);
            border-radius: 5px;
            height: 170px;
        }
    }
}