@import '../../responsive.scss';

.server-settings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 35px;

    .side-navbar-container {
        flex: 1;
    }


    .server-settings-main {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        color: white;
        flex: 8;
        gap: 20px;
        margin-right: 150px;
        height: 70vh;

        @include lg {
            margin-right: 0;
        }

        .server-settings-container {
            display: flex;
            align-items: center;
            justify-content: start;
            flex-direction: column;

        }
    }
}